<section class="contact block">
  <div class="container">
    <h3 data-aos="fade-right" id="contactus" class="section-heading">
      Contact Us
    </h3>
    <div class="row">
      <div class="contact__form col-sm">
        <form action="">
          <div class="input-group-lg mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" />
          </div>
          <div class="input-group-lg mb-3">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="input-group-lg">
            <label for="textarea" class="form-label">Message</label>
            <textarea
              class="form-control"
              placeholder="Write your message here"
              id="textarea"
            ></textarea>
          </div>
          <button type="submit" class="btn">Send</button>
        </form>
      </div>
      <div class="contact__content col-md">
        <img src="assets/images/aboutUs.jpg" alt="About Us Image" />
      </div>
    </div>
  </div>
</section>
