<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cars Booking</title>
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
</head>

<body>
<div id="booking" class="section">
  <div class="section-center">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="booking-cta">
            <h1>Book Your Car Now!</h1>
            <p> Choose from a variety of rental cars to suit your needs and budget. Enjoy the freedom to explore at your own pace with our convenient car rental options</p>
          </div>
        </div>
        <div class="col-md-7 col-md-offset-1">
          <div class="booking-form">
            <form>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <span class="form-label">Year of manufacture</span>
                    <input class="form-control" type="text" placeholder="Year" #filter>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <span class="form-label">Brand</span>
                    <input class="form-control" type="text" placeholder="Brand" >
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <span class="form-label">Type</span>
                    <input class="form-control" type="text" required placeholder="Manual OR Automate">
                  </div>
                </div>
              </div>
              <div class="form-btn">
                <button class="submit-btn" (click)="filterResults(filter.value)" >Show Cars</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-6" *ngFor="let car of cars">
      <app-car-blocks [carData]="car"></app-car-blocks>
    </div>
  </div>
</div>
</body>
</html>
