<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Flights Booking</title>
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
</head>

<body>
<div id="booking" class="section">
  <div class="section-center">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="booking-cta">
            <h1>Book your flight today</h1>
            <p>Discover and book the best flights effortlessly. With our platform, the world is just a few clicks away. Start exploring today!</p>
          </div>
        </div>
        <div class="col-md-7 col-md-offset-1">
          <div class="booking-form">
            <form>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <span class="form-label">Flying from</span>
                    <input class="form-control" type="text" placeholder="City or airport"  [(ngModel)]="departure" name="departure">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <span class="form-label">Flyning to</span>
                    <input class="form-control" type="text" placeholder="City or airport" [(ngModel)]="dest" name="dest">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <span class="form-label">Departing</span>
                    <input class="form-control" type="date" required [(ngModel)]="departureDate" name="departureDate">
                  </div>
                </div>
              </div>
              <div class="form-btn">
                <button type="button" class="submit-btn" (click)="getFilteredFlights()">Show flights</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-6" *ngFor="let flight of filteredFlights">
      <app-flight-blocks [flightData]="flight"></app-flight-blocks>
    </div>
  </div>
</div>
</body>
</html>
