<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Booking Form HTML Template</title>

  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">
</head>

<body>
<div id="booking" class="section">
  <div class="section-center">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="booking-cta">
            <h1>Book Your Hotel Now!</h1>
            <p>Explore our wide selection of hotels for every budget and style. Book with us to enjoy comfort, convenience, and the best rates for your next trip.
          </div>
        </div>
        <div class="col-md-6 col-md-offset-1">
          <div class="booking-form">
            <form>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input class="form-control" type="text" [(ngModel)]="address" name="address">
                    <span class="form-label">Location</span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input class="form-control" type="number" min="1" max="5" [(ngModel)]="rating" name="rating">
                    <span class="form-label">Rating</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <input class="form-control" type="number" min="1" max="10" required [(ngModel)]="numberRoom" name="numberRoom">
                    <span class="form-label">Number Of Rooms</span>
                  </div>
                </div>
              </div>
              <div class="row">

              </div>
              <div class="form-btn">
                <button class="submit-btn" (click)="getFilteredHotels()">Book Now</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div *ngFor="let hotelsData of filteredHotels" class="col-md-4 col-sm-6">
      <app-hotel-blocks [hotelData]="hotelsData"></app-hotel-blocks>
    </div>
  </div>
</div>
