<section class="hero block">
  <div class="container" data-aos="zoom-in">
    <h1>Your Journey Begins Here</h1>
    <p>Explore the best travel deals on flights, hotels, and car rentals</p>
    <a routerLink="signup"> <button class="btn">Click Here to Register</button></a>
  </div>
</section>


<section class="numbers block">
  <div class="container">
    <h3 id="whous" data-aos="fade-right" class="section-heading">About Us</h3>
    <div class="row">
      <div class="col col1">
        <p>
          GlobeTrek is your go-to online platform for booking flights, hotels, and car rentals. We provide a seamless and affordable travel experience with a wide selection of options to suit every need and budget.
        </p>
        <div class="image"><img src="assets/images/plan.jpg" alt="Plan Image" /></div>
      </div>
      <div class="circles col-md">
        <div
          data-aos="fade-up"
          data-aos-anchor-placement="top-bottom"
          data-aos-delay="50"
          class="circle"
        >
          25 Years
        </div>
        <div
          data-aos="fade-up"
          data-aos-anchor-placement="center-bottom"
          data-aos-delay="150"
          class="circle"
        >
          500+ Dest
        </div>
        <div
          data-aos="fade-up"
          data-aos-anchor-placement="top-bottom"
          data-aos-delay="200"
          class="circle"
        >
          1M+ Bookings
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Goals -->
<section id="prog" class="our-goals block">
  <div class="container">
    <div class="goals row gap-5">
      <div class="goal col-md">
        <header>
          <img src="assets/images/small-plane.png " alt="Flight Image" />
          <h4 class="goal__heading">Flight Bookings</h4>
        </header>
        <div class="goal__content">
          Find and book flights to over 500 destinations worldwide.
        </div>
      </div>
      <div class="goal col-md">
        <header>
          <img src="assets/images/hoteljpg.jpg" alt="Hotel Image" />
          <h4 class="goal__heading">Hotel Reservation</h4>
        </header>
        <div class="goal__content">
          Choose from thousands of hotels for every type of traveler.
        </div>
      </div>
      <div class="goal col-md">
        <header>
          <img src="assets/images/car-rental-concept.png" alt="Car Rental Image" />
          <h4 class="goal__heading">Car Rentals</h4>
        </header>
        <div class="goal__content">
          Rent a car at your destination with flexible options.
        </div>
      </div>
    </div>
  </div>
</section>
