<head>
  <title>TripTrove</title>
</head>
<nav class="navbar navbar-expand-lg bg-body-tertiary py-4">
  <div class="container">
    <a data-aos="fade-right" class="navbar-brand">TripTrove</a>
    <a routerLink = 'login-page' class="navbar-brand button ms-3">Login</a>
    <button
      data-aos="fade-left"
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul data-aos="fade-left" class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="cars" routerLinkActive="active">Rental Cars</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="flights" routerLinkActive="active">Flight</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="hotels" routerLinkActive="active">Hotels</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
